[submodule "Django"]
	path = Django
	url = https://github.com/Mchiir/Django-basics.git
[submodule "FarmManagementSystem"]
	path = FarmManagementSystem
	url = https://github.com/Mchiir/FarmManagementSystem.git
[submodule "student_model"]
	path = student_model
	url = https://github.com/Mchiir/Student-Performance-ML-API.git
